.timeline {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .timelineItem {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .timelineDate {
    font-weight: bold;
    margin-bottom: 10px;
  }